doctype html
html(lang='zxx')
    head
        meta(charset='UTF-8')
        meta(name='description', content='Ogani Template')
        meta(name='keywords', content='Ogani, unica, creative, html')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Food Court
        // Google Font
        link(href='https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap', rel='stylesheet')
        // Css Styles
        link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
        link(rel='stylesheet', href='css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', href='css/elegant-icons.css', type='text/css')
        link(rel='stylesheet', href='css/nice-select.css', type='text/css')
        link(rel='stylesheet', href='css/jquery-ui.min.css', type='text/css')
        link(rel='stylesheet', href='css/owl.carousel.min.css', type='text/css')
        link(rel='stylesheet', href='css/slicknav.min.css', type='text/css')
        link(rel='stylesheet', href='css/style.css', type='text/css')
    body
    -var i = 0;
        // Page Preloder
        #preloder
            .loader
        // Humberger Begin
        .humberger__menu__overlay
        .humberger__menu__wrapper
            .humberger__menu__logo
                a(href='#')
                    img(src='img/logo.png', alt='')
            .humberger__menu__cart
                ul
                    
                    li
                        a(href='cart')
                            i.fa.fa-shopping-bag
                            span= cart
                .header__cart__price
                    | item: 
                    span= "$" + price
            .humberger__menu__widget
                .header__top__right__language
                    img(src='img/language.png', alt='')
                    div English
                    span.arrow_carrot-down
                    ul
                        li
                            a(href='#') Spanis
                        li
                            a(href='#') English
                .header__top__right__auth
                    a(href='#')
                        i.fa.fa-user
                        |  Login
            nav.humberger__menu__nav.mobile-menu
                ul
                    li.active
                        a(href='./index.html') Home
                    li
                        a(href='./shop-grid.html') Shop
                    li
                        a(href='#') Pages
                        ul.header__menu__dropdown
                            li
                                a(href='./shop-details.html') Shop Details
                            li
                                a(href='./shoping-cart.html') Shoping Cart
                            li
                                a(href='./checkout.html') Check Out
                            li
                                a(href='./blog-details.html') Blog Details
                    li
                        a(href='./blog.html') Blog
                    li
                        a(href='./contact.html') Contact
            #mobile-menu-wrap
            .header__top__right__social
                a(href='#')
                    i.fa.fa-facebook
                a(href='#')
                    i.fa.fa-twitter
                a(href='#')
                    i.fa.fa-linkedin
                a(href='#')
                    i.fa.fa-pinterest-p
            .humberger__menu__contact
                ul
                    li
                        i.fa.fa-envelope
                        |  hello@colorlib.com
                    li Free Shipping for all Order of $99
        // Humberger End
        // Header Section Begin
        header.header
            .container
                .row
                    .col-lg-3
                        .header__logo
                           .navbar-brand(href='#' , style ='font-size : 2rem') FOOD COURT
                    .col-lg-6
                        .header__logo
                            .hero__search.hero__search__form
                                form(action='/search')
                                    //- .hero__search__categories
                                    //-     span.arrow_carrot-down
                                    input(type='text',name = 'q', placeholder='What do you need?', value= inputs?inputs :"")
                                    button.site-btn(type='submit') SEARCH
                    .col-lg-3
                        .header__cart
                            ul
                                li
                                    a#myBtn( title ="Báo lỗi")
                                        i.fa.fa-exclamation-triangle(aria-hidden='true')

                                li
                                    a(href='cart')
                                        i.fa.fa-shopping-bag
                                        span#cart= cart 
                            .header__cart__price
                                | item: 
                                span#price()=  '$' + price
                .humberger__open
                    i.fa.fa-bars
        // Header Section End
        // Hero Section Begin
        //- section.hero
        //-     .container
        //-         .row
                   
        //-             .col-lg-9
        //-                 .hero__search
        //-                     .hero__search__form
        //-                         form(action='#')
        //-                             .hero__search__categories
        //-                                 | All Categories
        //-                                 span.arrow_carrot-down
        //-                             input(type='text', placeholder='What do yo u need?')
        //-                             button.site-btn(type='submit') SEARCH

         #myModal.modal
    
        #myModal.modal
    
            .modal-content
                .modal-header
                    h5 Báo lỗi hệ thống.
                    span.close ×
                    
                .modal-body
                    p#text_er Cảm ơn bạn đã hỗ trợ chũng tôi trong việc báo lỗi. Sự cố sẽ được khắc phục sớm nhất có thể.
                        textarea.textarea#err(name='message')
                        button( type = "submit",onclick ="send_er()").mybutton Gửi nội dung
                    p#text1 Đã gửi.

                   

                
        // Hero Section End
        // Categories Section Begin
        
        // Categories Section End
        // Featured Section Begin
        section.featured.spad
            .container
                //- .row
                //-     .col-lg-12   
                //-         .featured__controls
                //-             ul
                //-                 li.active(data-filter='*') All
                //-                 li(data-filter='.oranges') Oranges
                //-                 li(data-filter='.fresh-meat') Fresh Meat
                //-                 li(data-filter='.vegetables') Vegetables
                //-                 li(data-filter='.fastfood') Fastfood
                .row.featured__filter
                    each data in foodData
                        .col-lg-3.col-md-4.col-sm-6.mix.oranges.fresh-meat

                                .featured__item
                                    -var srcIm = data.image
                                    //- img(src=srcIm)
                                    .featured__item__pic.set-bg(data-setbg=srcIm)
                                        ul.featured__item__pic__hover
                                            li
                                                a( id = data.id , onclick = "add_cart(event)" , class = data.price) 
                                                    i(id = data.id, class = data.price).fa.fa-shopping-cart
                                    .featured__item__text
                                        h6
                                            a(href='#')= data.name
                                        h5=data.price
                        
                        
        // Featured Section End
        // Banner Begin
       
        // Banner End
        // Latest Product Section Begin
       
        // Latest Product Section End
        // Blog Section Begin
     
        // Blog Section End
        // Footer Section Begin
        footer.footer.spad
            .container
                .row
                    .col-lg-3.col-md-6.col-sm-6
                        .footer__about
                            .footer__about__logo
                                a(href='./index.html')
                                    img(src='img/logo.png', alt='')
                            ul
                                li Address: 60-49 Road 11378 New York
                                li Phone: +65 11.188.888
                                li Email: hello@colorlib.com
                    .col-lg-4.col-md-6.col-sm-6.offset-lg-1
                        .footer__widget
                            h6 Useful Links
                            ul
                                li
                                    a(href='#') About Us
                                li
                                    a(href='#') About Our Shop
                                li
                                    a(href='#') Secure Shopping
                                li
                                    a(href='#') Delivery infomation
                                li
                                    a(href='#') Privacy Policy
                                li
                                    a(href='#') Our Sitemap
                            ul
                                li
                                    a(href='#') Who We Are
                                li
                                    a(href='#') Our Services
                                li
                                    a(href='#') Projects
                                li
                                    a(href='#') Contact
                                li
                                    a(href='#') Innovation
                                li
                                    a(href='#') Testimonials
                    .col-lg-4.col-md-12
                        .footer__widget
                            h6 Join Our Newsletter Now
                            p Get E-mail updates about our latest shop and special offers.
                            form(action='#')
                                input(type='text', placeholder='Enter your mail')
                                button.site-btn(type='submit') Subscribe
                            .footer__widget__social
                                a(href='#')
                                    i.fa.fa-facebook
                                a(href='#')
                                    i.fa.fa-instagram
                                a(href='#')
                                    i.fa.fa-twitter
                                a(href='#')
                                    i.fa.fa-pinterest
                .row
                    .col-lg-12
                        .footer__copyright
                            .footer__copyright__text
                                p
                                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                                    | Copyright ©
                                    script.
                                        document.write(new Date().getFullYear());
                                    |  All rights reserved | This template is made with 
                                    i.fa.fa-heart(aria-hidden='true')
                                    |  by 
                                    a(href='https://colorlib.com', target='_blank') Colorlib
                                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                            .footer__copyright__payment
                                img(src='img/payment-item.png', alt='')
        // Footer Section End
        // Js Plugins
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/jquery.nice-select.min.js')
        script(src='js/jquery-ui.min.js')
        script(src='js/jquery.slicknav.js')
        script(src='js/mixitup.min.js')
        script(src='js/owl.carousel.min.js')
        script(src='js/main.js')
        script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
        script.
            var cartList = "#{cartList}";
            var list = cartList.split(',');
         
            async function add_cart(event){   
     
                    console.log(list);
                    var e = event.target;
                    var id  = e.getAttribute("id");

                    
                    var price = document.getElementById("price");
                    var cart = document.getElementById("cart");
                    var priceValue = parseInt(price.textContent.slice(1));
                    var a = priceValue + parseInt(e.getAttribute("class"))
                    price.innerHTML = "$" + a ;
                    console.log(cart);
                    var chk = list.every(function(x){
                        return x != id;
                    })
                    if (chk) {
                        cart.innerHTML =  parseInt(cart.textContent) + 1;
                        list.push(id);
                    }

                    await axios({
                        method: 'post',
                        url: '/add_cart',
                        data: {
                            id: id
                        },
                        timeout : 200
                    });     
            }

            async function send_er(event){
                var message = document.getElementById("err").value;
                console.log(message);
               
                document.getElementById("text_er").style.display = "none";
                document.getElementById("text1").style.display = "block";
                
                await axios({
                    method: "post",
                    url :'/get_err',
                    data :{
                        message : message
                    },
                    timeout : 200
                })
                

            } 

           
            

           
